@font-face {
    font-family: 'Mettlach';
    src: url('Mettlach.woff2') format('woff2'),
        url('Mettlach.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

